// Navigation Styles here

.title-nav {
  max-width: 800px;
  margin: 0 auto;
  margin-top: 25px;
  padding-bottom: 25px;
  .flex (space-between, center);
  
  nav {
    .flex (space-between, center);
    width: 40%;
    font-size: 1.6rem;
    padding-right: 4%;
    
    a {
      text-decoration: none;
      color: black;
    }
  }
}