// Navigation Styles here

.title-nav {
  max-width: 800px;
  margin: 0 auto;
  margin-top: 25px;
  padding-bottom: 25px;
  .flex (row, space-between, center);

  @media @mobile {
    .flex (column, center, center);
    padding-bottom: 10px;
  }

  h1 {
    @media @mobile {
      padding-bottom: 7px;
    }
  }
  
  nav {
    .flex (row, space-between, center);
    width: 60%;
    font-size: 1.6rem;
    padding-right: 4%;
    
    a {
      width: 100px;
      text-decoration: none;
      color: black;
      transition-property: color, background-color;
      transition-duration: 1s;
      transition-timing-function: ease-out;
      border: 5px solid transparent;
      text-align: center;
      &:hover {
      border-radius: 8px;
      color: @white;
      background-color: @eastern-blue;
      padding: 10px 5px;
      border: none;
      }

      @media @mobile {
        width: 100%;
        justify-content: space-around;
        padding-top: 10px;
      }
    }
  }
}